@{
    ViewBag.Title = "About";
}
<h2>Company Profile</h2>
<h3 style="color:orange">Products</h3>

<p>
    We are one of the key manufacturers of Packaging Boxes. Our wide range of Boxes is available in various sizes
    and dimensions. Ideal for the packaging of many products, our Corrugated Boxes provide elegant looks and safe
    packaging at the same time. Today, we are counted among the key Corrugated Boxes Manufacturers in Pakistan.

    The sophisticated machinery enables us to maintain the qualitative as well as the quantitative aspects. Our
    manufacturing unit is well backed with continuous power supply. We offer 3 types of flute size i.e. Narrow
    Flute, Broad Flute and C Flute. The combination of these flutes is available in a variety of sizes depending
    upon the customers’ requirements.

    We have a well equipped manufacturing unit installed with all kinds of advanced machines and equipments.
    The well managed infrastructure supports us to manufacture accordingly to the needs of clients. The assembly
    of various resourceful equipments and their utilization in the best possible manner is resulted in the efficient
    functioning products 

</p>

<div>
    <p>These are some of the high-tech machines we use in at the unit:</p>

    <h2 style="color:orange">Our Machineries</h2>

    <p>We have manual and semi automatic machineries which produce a various quantity of production.</p>

    <h3 style="color:blue"><u>Pasting Machine</u></h3>
    <img src="~/Images/pasting Machine.png" width="150" height="150" />
    <p>This is called pasting machine which uses for paste the corrugated walls with 3, 5, 7, plies.</p>

    <h3 style="color:blue"><u>Cutter of Cardboard</u></h3>
    <img src="~/Images/Cutter of Cardboard.png" width="150" height="150" />
    <p>This is called paper & cardboard cutter which uses for different size to cutting of the corrugated walls. </p>

    <h3 style="color:blue"><u>Die Cutting Machine</u></h3>
    <img src="~/Images/Die Cutting Machine.jpg" width="150" height="150" />
    <p>This is called die cutting machine which uses to finish the sheet of corrugated wall and convert into a carton shape.</p>

    <h3 style="color:blue"><u>Corrugating Machine</u></h3>
    <img src="~/Images/Corrugating Machine.jpg" width="150" height="150" />
    <p>This Machine is used for corrugated the paper.</p>

    <h3 style="color:blue"><u>Rottary Machines</u></h3>
    <img src="~/Images/Rottary Machines.jpg" width="150" height="150" />
    <p>These are the rotary slotters which uses for making flaps.</p>

    <h3 style="color:blue"><u>Stitching Machine</u></h3>
    <img src="~/Images/Stitching Machine.png" width="150" height="150" />
    <p>This is called stitching wire machines which use to lock the carton and finalize to deliver.</p>

</div>


