@{
    ViewBag.Title = "Contact";
}
<img src="~/Images/contact.jpg" />

<h1 style="color:orange" >@ViewBag.Title.</h1>

<p>
    Our <strong>Experience</strong> sales and Customer services network is ready to assist you in determining the services.
    To find us at near you just contact us on.
</p>


<di class="col-md-6">
    <h2 style="color:orange">Our Clients</h2>
    <p>
        We specialized in creating graphic packaging products that are not only attractive, but also
        Communicate your brand message to your consumers. Our customer is an asset that’s why we care of them very 
        seriously.
    </p>
    <p>
        M/s Feroze Textile 1888 Mills.<br />
        M/s Capricorn Associates Pvt Ltd.<br />
        M/s Soorty Enterprises (Pvt.) Limited<br />
        M/s Lucky Textiles (Pvt.) Limited<br />
        M/s Nabi Qasim Pharmaceutical (Pvt.) Limited<br />
        M/s Pearl Fabrics (Pvt.) Limited<br />
        M/s Air Blue  Private Limited<br />
        M/s Wazir Ali Industries Ltd.<br />
        M/s Mecote Private Limited<br />
        M/s Shaheen Foundation Private Limited<br />
        M/s Air Blue Private Limited.<br />
        M/s PIA  Private Limited<br />
        M/s Spantik Textiles Private Limited<br />
        M/s Galaxy Pharma Private Limited<br />
        M/s PALPEX Pharmacy Private Limited<br />
        <img src="~/Images/use for weight.jpg" width="200" height="200" />
        <div>
            We pride ourselves of the high quantity of our product, our excellent customer services and our motto is that
            <strong style="color:red">“Rapid response from inquiry to well after delivery”</strong> which our fleet or vehicles help
            to achieve every time most of all, we thrive because we consistently remain competitive
            in an ever changing market place.
        </div>
    
    </p>
</di>

<div class="col-md-offset-5">
    <h2 style="color:orange">Address</h2>
    <address>
        A.R Packages.<br />
        B-472 Bhingoria Goath ( Near Sindhi School )<br />
        F.B Area .<br />
        Karachi Pakistan,
    </address>

    <p>
        <img src="~/Images/whatsapp.png" width="50" height="50"/>
        <abbr title="Phone">Ph:</abbr>
        021-3-6823733
    </p>

    <p>
        <h7 style="color:orange">Other Number</h7><br />
        <img src="~/Images/mobil.jpg" width="50" height="50" />
        <abbr title="Phone">Ph:</abbr>
        +92-300-8278309
    </p>

    <address>
        <strong>Email:</strong>   <a href="mailto:arpkgs@gmail.com.">arpkgs@gmail.com.</a>
    </address>
</div>