@{
    ViewBag.Title = "Home Page";
}
    <h1 style="color:coral">AR PACKAGES</h1>
    <div class="jumbotron">
        <img src="~/Images/main.jpg" width="400" height="200"/>
        <p style="float:right; text-align:center; font-size:x-large"  >
            Welcom to <strong style="color:orange; font-display:block">A.R-Packaging</strong> Company<br />
            <strong style="color:gray; font-family:'Freestyle Script';"><b>manufacturer of Corrugated Cartons</b>.</strong>
        </p>
        <p></p>
    </div>

<div>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <img src="~/Images/intoduction.jpg" width="100" height="100"/>
        <p>
            We are a leading firm engaged in the manufacturing of superior quality Corrugated boxes. Legend Packaging 
            Company has been delivering quality. The rich experience blended with the incessant efforts of whole team 
            has earned the company a reputed name. Our Corrugated Custom Printed Boxes are obtainable in a variety of 
            sizes and tailor made sizes are pleasantly welcomed.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Infrastructure</h2>
        <img src="~/Images/infrastructure.jpg" width="100" height="100"/>
        <p>
            Our state of the art infrastructure is well equipped with the latest tools and machinery. We have employed 
            the following machines, which assist in the smooth production: <br />

            Corrugating Machines.<br />
            Pasting Machines.<br />
            Rotary Machines.<br />
            Slotting Machines.<br />
            Large Format Die Punching Machines.<br />
            Stitching Machines.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quality Assurance </h2>
        <img src="~/Images/quality Assurance.jpg" width="100" height="100"/>
        <p>We have employed a Quality Control Unit, which ensures that the quality is maintained at par with the high 
        standards. We believe in maintaining affable relations with our customers. Our customer centric approach enables
        to identify the specific needs of our customers. These incessant efforts have in return endowed us with the
        invaluable customer trust. We have cemented a unique position amid the principal Packing Boxes Suppliers</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>

<div>
    <h1 style="color:sandybrown">Vision</h1>
    <p>
        We are recognized as a high growth, action oriented, innovative provider of packaging products and services.
        Our customers love doing business with us. They trust us to significantly contribute to their business.
        Our working partners are the best and very hard workers we do work as fun and exiting. It provides us the
        challenging career opportunities, wealth, respect & joy. Honesty and integrity are the pillars of our success.
    </p>
</div>

<h1 style="color:olive">Style of Work</h1>
<p>
    Our ambition isn’t it that makes money. But is that we like to make relations we started our business with the aim 
    of do work hard with determination, commitments, services, Quality and trust full communications. We do love our
    work we know the best thing is that to save time to our client is the most important thing and no compromises on 
    the quality.
</p>
